**/*.png
*.png
.env

.DS_Store
__pycache__
models
dataset
venv
__pycache__/*
models/*
dataset/*
venv/*
images/paolo/IMG_6303.jpg
images/paolo/paolo face couleur 2.jpg
images/paolo/paolo face couleur.JPG
images/paolo/paolo face nb.JPG
images/paolo/paolo profil couleur.JPG
images/paolo/paolo profil nb.JPG
images/paolo/paolo_nov_23.jpeg
images/paolo/paolo_yellow.jpeg
images/paolo/paolocastro_moyen.jpg
images/paolo/paolocastro.jpg
